In [70]:
import numpy as np
import pandas as pd
from scipy import stats
from sklearn.preprocessing import LabelEncoder


data = pd.read_csv('BankChurners.csv', na_values='Unknown')

# Find and filter out missing and incorrect values

In [71]:
print(data.isna().sum(), '\n')

for i in range(5, 8):
    data[data.columns[i]].fillna(data[data.columns[i]].value_counts().idxmax(), inplace=True)

print(data.isna().sum())

CLIENTNUM                                                                                                                                0
Attrition_Flag                                                                                                                           0
Customer_Age                                                                                                                             0
Gender                                                                                                                                   0
Dependent_count                                                                                                                          0
Education_Level                                                                                                                       1519
Marital_Status                                                                                                                         749
Income_Category                                                                                                                       1112
Card_Category                                                                                                                            0
Months_on_book                                                                                                                           0
Total_Relationship_Count                                                                                                                 0
Months_Inactive_12_mon                                                                                                                   0
Contacts_Count_12_mon                                                                                                                    0
Credit_Limit                                                                                                                             0
Total_Revolving_Bal                                                                                                                      0
Avg_Open_To_Buy                                                                                                                          0
Total_Amt_Chng_Q4_Q1                                                                                                                     0
Total_Trans_Amt                                                                                                                          0
Total_Trans_Ct                                                                                                                           0
Total_Ct_Chng_Q4_Q1                                                                                                                      0
Avg_Utilization_Ratio                                                                                                                    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1       0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2       0
dtype: int64

CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

# Unify the format, make the necessary conversions (non-numeric → numeric) if needed

In [72]:
non_numeric_cols = []
for i in (1, 3, 5, 6, 7, 8):
    non_numeric_cols.append(data.columns[i])
non_numeric_cols = pd.Index(data=non_numeric_cols)

data[non_numeric_cols] = data[non_numeric_cols].apply(lambda col: LabelEncoder().fit_transform(col))
data = data[data.columns[1:]]
data

       Attrition_Flag  ...  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0                   1  ...                                           0.999910
1                   1  ...                                           0.999940
2                   1  ...                                           0.999980
3                   1  ...                                           0.999870
4                   1  ...                                           0.999980
...               ...  ...                                                ...
10122               1  ...                                           0.999810
10123               0  ...                                           0.004729
10124               0  ...                                           0.002118
10125               0  ...                                           0.003294
10126               0  ...                                           0.003377

[10127 rows x 22 columns]

# Discover outliers and find a way to deal with them

In [73]:
print('Before outliers resolving:', data.shape, '\n')

data = data[(np.abs(stats.zscore(data)) < 3).all(axis=1)]

print('After outliers resolving:', data.shape)

Before outliers resolving: (10127, 22)

After outliers resolving: (8842, 22)